@model IEnumerable<MVCDigiKeyStore.Models.Type>

<ul id="categories"> 
    @foreach (var type in Model)
    {
         <li>@Html.ActionLink(type.Name, 
         "Browse", "Store", 
         new { Type = type.Name }, null)</li>
    }
</ul>
