@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Digi Key Store</h1>
                <h2></h2>
            </hgroup>           
        </div>
    </section>
}
<h4>World's Largest Selection of Electronic Components Available for Immediate Dispatch!</h4>    <img src="/Content/Images/MFG.jpg" alt="" style="width:70px;height:50px"> 
<img src="/Content/Images/MFG.jpg" alt="" style="width:70px;height:50px">

<ol class="round">
    <li class="one">      
       
    </li>

    <li class="two">
      
    </li>

    <li class="three">
       
    </li>   
</ol>

 
